
.creation-title {
    text-align: center;
}
.creation-wrapper {
    margin-top: 56px;
    max-width: 1136px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.creation-video{
    position: relative;
}
.creation-info {
    margin-top: 40px;
}
