.gaming {
    background-color: #000000;
}
.gaming-wrapper {
    display: flex;
    align-items: center;
}
.gaming-content {
    max-width: 732px;
    width: 100%;
    margin-right: 95px;
}
.gaming-content__title {
    margin-bottom: 32px;
}
.gaming-btn{
    margin-top: 54px;
}

// .gaming-hero-images {
// }
// .gaming-modal {
// }
// .gaming-modal-content {
// }
// .gaming-close {
// }


