.header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    transition: background-color 0.3s;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 1001;
    background: transparent;
    @media(max-width:768px){
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;

    @media(max-width: 768px) {
        gap: 30px;
    }

    a {
        font-family: 'Orbitron';
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        transition: 0.3s all;

        &:hover {
            color: #FAC422;
            transition: 0.3s all;
        }
    }
}

.header-button {
    margin-left: 40px;
    padding: 15px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    transition: border 350ms ease, background-color 350ms ease, color 350ms ease;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    &:hover {
        background-color: #FAC422;
        border-color: #FAC422;
        transition: 0.3s all;
    }
    @media(max-width: 768px){
        display: none;
    }
}
.header-button--mobile{
    display: none;
    @media(max-width: 768px){
        display: block;
        margin-left: 0;
    }
}

.header-right {
    display: flex;
    align-items: center;
}

.cart-wrapper {
    position: relative;
}

.basket-num {
    position: absolute;
    width: 21px;
    height: 18px;
    color: #141820;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    right: -20px;
    font-size: 11px;
    line-height: 18px;
}

// burger
.burger {
    display: none;
}

.mobileMenu {
    margin-left: auto;
    width: 0;
    overflow-x: hidden;
    height: 100vh;
    z-index: 1001;
    overflow-y: auto;
    background: #000;
    transition: all 0.3s;
    position: relative;

    &-close {
        position: absolute;
        color: #fff;
        right: 15px;
        top: 8px;
        background: transparent;
        border: none;
        font-size: 40px;
        transition: all 0.3s;

        &:hover {
            opacity: 0.5;
        }

        img {
            max-width: 18px;
        }
    }
    
    &-item:last-child {
        display: flex;
        align-items: center;

        a {
            opacity: 1;
        }
    }

    &-overlay {
        display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
        transition: all 0.3s;
    }

    &-container {
        display: flex;
        height: auto;
        padding: 0 15px;
        flex-direction: column;
        padding-top: 160px;
        padding-bottom: 60px;
    }

    .header-menu {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .menu-item {
            margin: 0;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.mobileMenu-overlay.open {
    display: block;
    z-index: 9999;
    opacity: 1;
    transition: all 0.3s;

    .mobileMenu {
        margin-left: auto;
        width: 320px;
        transition: all 0.3s;
    }
}

@media (max-width: 990.99px) {
    .header-wrapper .header-menu {
        display: none;
    }

    .mobileMenu .header__menu .menu-item {
        text-align: center;
    }

    .burger {
        display: block;
    }
    .open-menu{
        margin-top: -10px;
    }
    .open-menu-js {
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: -11px;
    }

    .open-menu span {
        display: block;
        width: 39px;
        height: 3px;
        margin-bottom: 6px;
        position: relative;
        background: #fff;
        z-index: 1;
        margin-left: auto;
    }

    .open-menu span:first-child {
        transform-origin: 0% 0%;
        width: 39px;
    }

    .open-menu span:last-child {
        transform-origin: 0% 0%;
        width: 39px;
        margin-bottom: 0;
    }
}
