.hero-section{
    position: relative;
}
.hero {
    padding-top: 291px;
    padding-bottom: 250px;
    @media(max-width:992px){
        padding-top: 140px;
        padding-bottom: 80px;
    }
}
.hero-about{
    position: relative;
    z-index: 0;
}
.single-blog-hero{
    padding-bottom: 226px !important;
}
.hero-socials-links{
    max-width: 25px;
    position: absolute;
    top: 309px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width:1450px){
        display: none;
    }

}
.hero-socials-link{
    margin-top: 120px;
    transform: rotate(-90deg); 
    color: #80858f;
    font-size: 11px;
    line-height: 25px;
    font-weight: 700;
    transition: 0.3s all;
    &:hover{
        transition: 0.3s all;
        color: #57b8ff;
    }
}

.hero-right-bg{
    z-index: -1;
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 46%;
    height: 100vh;
    max-width: 46%;
    min-height: 100%;
    background-color: #57b8ff;
    @media(max-width: 992px){
        display: none;
    }
}

.hero-row {
    display: flex;
    @media(max-width:992px){
        flex-direction: column;
    }
}
.hero-content {
    max-width: 660px;
    width: 100%;
}
.hero-title{
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    text-transform: capitalize;
    margin-bottom: 45px;
    @media(max-width:1200px){
		font-size: 55px;
	}
	@media(max-width:768px){
		font-size: 32px;
        line-height: 42px;
	}
    @media(max-width:1200px){
        margin-bottom: 30px;
    }

    @media(max-width:992px){
        br{
            display: none;
        }
    }
    span{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            background-image: url(../images/hero-img/title-decor.svg);
            bottom: -8px;
            right: -15px;
            width: 405px;
            height: 15px;
            @media(max-width:1200px){
                width: 350px;
                bottom: -15px;
            }
            @media(max-width:992px){
                right: 185px;
            }
            @media(max-width:768px){
                bottom: -8px;
                right: -3px;
                width: 208px;
            }
            @media(max-width:541px){
                right: 117px;
                width: 196px;
            }
        }
    }
}
.hero-text{
    @media(max-width:768px){
        margin-bottom: 20px;
    }
}
.hero-buttons {
    margin-top: 53px;
    display: flex;
    align-items: center;
    @media(max-width: 768px){
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }
}
.btn-primary {
    padding: 21px 34px;
}
.header-btn{
    margin-right: 41px;
    @media(max-width: 768px){
      margin-right: 0;
      width: 100%;
    }
}
.btn-secondary {
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    &:hover{
        color: #578FFF;
    }
    @media(max-width: 768px){
        margin-top: 10px;
        margin-left: 0;
    }
}
@media(max-width:992px){
    .hero-images{
        margin-top: 40px;
    }
}

.main-screen{
    padding-top: 190px;
    padding-bottom: 126px;
    background-image: url(../images/main-bg-image.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media(max-width:768px){
        padding-top: 150px;
    }
}
.hero-heading {
    text-align: center;
}
.hero-heading__title{
    color: #222730;
    font-size: 64px;
    line-height: 74px;
    font-weight: 900;
    text-transform: capitalize;
    @media(max-width:992px){
        font-size: 56px;
        line-height: 66px;
        font-weight: 700;
    }
    @media(max-width:768px){
        font-size: 38px;
        line-height: 48px;
    }
}
.breadcrumb {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:768px){
        margin-top: 20px;
    }
}
.breadcrumb-link{
    margin-left: 8px;
    color: #222;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.active-page__link{
    color: #57b8ff;
}

