.news {
    background: #000000;
}
.news-heading__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.news-wrapper {
    margin-top: 64px;
}
.news-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.news-column {
    flex: 0 50%;
    max-width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    @media(max-width:768px){
        flex: 0 100%;
        max-width: 100%;
    }
}
.news-column__item {
    max-width: 312px;
    width: 100%;
    &:not(:nth-last-child(-n+2)){
        margin-bottom: 16px;
    }
}
.news-date__first-column{
    display: block;
    margin-top: 54px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
    @media(max-width:768px){
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }
}

.news-title__first-column{
    font-family: Orbitron, sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 34px;
    @media(max-width:992px){
        font-size: 21px;
        font-weight: 700;
    }
    @media(max-width:460px){
        font-size: 18px;
        line-height: 28px;
    }
}

.news-column__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}

.news-date {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #57B8FF;
}

.news-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}

