.sponsors {
    background-color: #FDD04A;
}
.sponsors-heading {
    max-width: 596px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}
.sponsors-heading__title {
    margin-bottom: 27px;
}
.sponsors-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #222730;
    &__decor{
        right: 105px;
        bottom: -15px;
    }
}
.sponsors-logos {
    display: flex;
    align-items: center;
    gap: 33px;
    @media(max-width:1200px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    @media(max-width:460px){
        gap: 15px;
    }
}
.sponsors-logo{
    @media(max-width:460px){
        img{
            max-width: 157px;
        }
    }
}
